.cache/
*.o
objs/
mandelbrot
mandelbrot-serial.ppm
mandelbrot-thread.ppm

myexp
mandelbrot_ispc
mandelbrot-ispc.ppm
mandelbrot-task-ispc.ppm

sqrt
saxpy

start.log
end.log
kmeans
data.dat

start.png
end.png
